body{
    background-color: dodgerblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    margin-left: 200px;
}
aside{
    background-color: white;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
}
aside #Logo{
    width: 200px;
    border-bottom: solid 1px lightgrey ;
    padding: 10px 0;
    text-align: center;
}
aside #Logo #Imagen{
    box-sizing: border-box;
    padding: 10px ;
    margin: 0 auto;
}
aside .item{
    width: 200px;
    font-size: 20px;
    vertical-align: middle;
    overflow: hidden;
    padding: 20px 0;
    
}
aside .item a{
    display: block;
    text-align: center;
    text-decoration: none;
}

#Registrarme{
    width: 150px;
	height: 40px;
	background-color: orangered;
	border-radius: 50px;
}

.textblue{
    color: dodgerblue;
}
.textwhite{
    color: white;
    
}
nav{
    margin: 10px 0 0 0;
    padding: 20px 0;
    background-color: white;
    display: block;
}
nav .menu {
    list-style: none;
    padding: 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
nav .menu li {
    padding: 0 30px;
    display: inline-block;
}

#button{
    background: url(lupa.png) no-repeat 0px 5px;
    background-size: 20px;  
    height: 25px;
    width: 25px;
    background-position-y: top;
    border-radius: 50%;
}
.Gmap{
    background-color: lightgray;
    width: 100%;
    padding: 20px;
}
.mapa{
    width: 1120px; 
    height: 560px;
    border:0;
}
footer{
    padding: 8px 0 0 0;
    font-size: 10px;
    display: flex;
    justify-content: center;
    
}